<!-- templates/index.html -->

{% extends "_base.html" %}

{% block content %}
  
  <!-- codice HTML backendDirectoryScreen -->
  <div class='box-content bg-gray-700 h-screen border-4 w-screen flex'><!-- MainDiv -->
      <div class='h-64 inline-block left-0'><!--subNavDiv-->
          <a href='/start' class='block rounded w-16 h-16 m-2 bg-blue-600 text-white hover:bg-white focus:outline-white hover:text-gray-800'>
            {% include "icons/icon_start.html" %}
          </a>
          <a href='/filter' class='block rounded w-16 h-16 m-2 bg-blue-600 text-white hover:bg-white focus:outline-white hover:text-gray-800'>
            {% include "icons/icon_filtro.html" %}
          </a>
           <!--
          <a href='/log' class='block rounded w-16 h-16 m-2 bg-blue-600 text-white hover:bg-white focus:outline-white hover:text-gray-800'>
            {% include "icons/icon_log.html" %}
          </a>
          -->

          <a href='/config' class='block rounded w-16 h-16 m-2 bg-blue-600 text-white hover:bg-white focus:outline-white hover:text-gray-800'><!--href ConfigScreen Button-->
            {% include "icons/icon_configurazione.html" %}
          </a>
          <a href='/backend' class='block rounded w-16 h-16 m-2 bg-blue-600 text-white hover:bg-white focus:outline-white hover:text-gray-800'>
            {% include "icons/icon_backend.html" %}
          </a>

      </div>
      <!-- ################################ -->
      <div class='inline-block w-full h-full overflow-hidden'><!-- FrameDiv-->
          <div class='mt-2 h-full space-y-4'><!-- subFrameDiv -->
              <div class='block h-16 w-full pt-4'><!--title-->
                  <span class='align-middle'>
                    <p class='text-center font-black text-3xl subpixel-antialiased text-white'>Gestione Directory</p>
                  </span>
              </div>

              <div style='height:80%; width:100%;' class='block divide-y divide-white divide-opacity-25 w-full bg-blue-900 space-y-2 overflow-y-scroll p-2 border-2 border-white rounded-md'><!--LogFrameDiv-->
                <table class="table-auto text-white ">
                  <thead>
                    <tr>
                      <th class='p-3'>ID</th>
                      <th class='p-3'>Nome</th>
                      <th class='p-3'>path</th>
                      <th class='p-3'>run_id</th>
                      <th class='p-5'>Cancella</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for dir , values in listaDirectory.items %}
                    <tr>
                      <td class='p-3'>{{dir}}</td>
                      <td class='p-3'>{{values.0}</td>
                      <td class='p-3'>{{values.1}}</td>
                      <td class='p-3'>{{values.2}}</td>

                      <td class='p-5'>
                        <div class='block rounded w-32 h-16 m-2 bg-blue-600 text-white hover:bg-white focus:outline-white hover:text-gray-800' value={{dir}} hx-get="cancellaAgenteDB/{{dir}}/" hx-trigger="click once" hx-swap="outerHTML" hx-target="#MainDiv">Cancella</div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>

          </div>
      </div>

      <div class='h-64 inline-block w-22'><!--dxButtons Qui si mostra la lista delle run, degli utenti, le cartelle e gli agenti usati-->
          <a href='/backend/gestioneUtente' class='block rounded w-16 h-16 m-2 bg-blue-600 text-white hover:bg-white focus:outline-white hover:text-gray-800'>
            
            {% include "icons/icon_gestioneUtente.html" %}
          </a>
          <a href='/backend/gestioneRun' class='block rounded w-16 h-16 m-2 bg-blue-600 text-white hover:bg-white focus:outline-white hover:text-gray-800'>
            
            {% include "icons/icon_gestioneRun.html" %}
          </a>

          

          <a href='/backend/gestioneAgente' class='block rounded w-16 h-16 m-2 bg-blue-600 text-white hover:bg-white focus:outline-white hover:text-gray-800'>
            
            {% include "icons/icon_gestioneAgente.html" %}
          </a>
      </div>
  </div>



{% endblock content %}