<!-- templates/index.html -->

{% extends "_base.html" %}

{% block content %}
  
  <!-- codice HTML ConfigScreen -->
  <div class='box-content bg-gray-700 h-screen border-4 w-screen flex' id='MainDiv'><!-- MainDiv -->
      <div class='h-64 inline-block left-0'><!--subNavDiv-->
          <a href='/start' class='block rounded w-16 h-16 m-2 bg-blue-600 text-white hover:bg-white focus:outline-white hover:text-gray-800'>
            {% include "icons/icon_start.html" %}
          </a>
          <a href='/filter' class='block rounded w-16 h-16 m-2 bg-blue-600 text-white hover:bg-white focus:outline-white hover:text-gray-800'>
            {% include "icons/icon_filtro.html" %}
          </a>
           <!--
          <a href='/log' class='block rounded w-16 h-16 m-2 bg-blue-600 text-white hover:bg-white focus:outline-white hover:text-gray-800'>
            {% include "icons/icon_log.html" %}
          </a>
          -->
          {% if ruolo == 1 %}
          <a href='/backend' class='block rounded w-16 h-16 m-2 bg-blue-600 text-white hover:bg-white focus:outline-white hover:text-gray-800'>
            {% include "icons/icon_backend.html" %}
          </a>
          {% endif %}
      </div>
      <!-- ################################ -->
      <div class='inline-block w-full h-full overflow-hidden'><!-- FrameDiv-->
          <div class='mt-2 h-full space-y-4'><!-- subFrameDiv -->

              <div class='block h-16 w-full pt-4'><!--titleFrameDiv-->
                  <span class='align-middle'>
                    <p class='text-center font-black text-3xl subpixel-antialiased text-white'>Schermata di configurazione</p>
                  </span>
              </div>

              <div style='height:80%; width:100%;' class='block bg-blue-900 p-2 border-2 border-white rounded-md'><!--formFrameDiv-->

                {% if logged %}
                <div class='block border m-10 p-2'>
                  <p class='text-white inline-block'> Benvenuto, {{email}} </p>
                  <button hx-trigger='click once' hx-get='logout/' hx-swap='outerHTML' hx-target='#MainDiv' class='block rounded w-16 h-16 m-2 bg-blue-600 text-white hover:bg-white focus:outline-white hover:text-gray-800 inline-block' style='width:70px;'>Logout</button>

                </div>
                {% else %}
                <form method='get' hx-get='login/' hx-swap='outerHTML' hx-include="[name='login']" hx-target='#MainDiv' class='block border m-10 p-2'><!-- LoginForm -->
                  <label class='text-white font-black px-4' for='email'>Email</label>
                  <input id='email' type='text' placeholder='Email' class='form-input' name='login'/>
                  
                  <label class='text-white font-black px-4' for='password'>Password</label>
                  <input id='password' type='password' placeholder='Password' class='form-input' name='login'/>
                  

                  <input type='submit' value='Login' class='block rounded w-16 h-16 m-2 bg-blue-600 text-white hover:bg-white focus:outline-white hover:text-gray-800 inline-block' style='width:70px;'/>

                </form>
                {% endif %}

                {% if logged %}
                <!-- INSERISCI PATH NELLA SESSIONE -->
                <form method='post' hx-post='savePath/' hx-swap='none' hx-include="[name='_path']" target='#MainDiv' class='block border m-10 p-2' id='directoryForm'><!-- directoryForm -->
                  <label class='text-white font-black px-4' for='path'>Path</label>
                  <input id='path' name='_path' type='text' placeholder='Path' class='form-input'/>
                  

                  <Input type='submit' value='Salva' class='block rounded w-16 h-16 m-2 bg-blue-600 text-white hover:bg-white focus:outline-white hover:text-gray-800 inline-block' style='width:70px;'/>

                </form>
                <!-- SCEGLI PATH TRA QUELLI GIA USATI -->
                <div class='block border m-10 p-2'><!-- pathDiv -->
                  <label class='text-white font-black px-4' for='sceltaPath'>Scegli il Path tra quelli usati in precedenza: </label>
                  
                  <select form='formChoosePath' class='inline-block' name="choosePath" id="sceltaPath">
                    {% for directory,values in listaDirectory.items %}
                    <option id="{{values.0}}" value="{{directory}}">ID: {{directory}} - PATH: {{values.0}} - Run_id:{{values.1}}</option>
                    {% endfor %}

                  </select>
                  <form method='get' hx-get='scegliPath/' hx-swap='outerHTML' hx-target='#MainDiv' id='formChoosePath' class='inline-block'>
                    <input type='submit' value='scegli' class='block rounded w-16 h-16 m-2 bg-blue-600 text-white hover:bg-white focus:outline-white hover:text-gray-800 inline-block' style='width:70px;'/>
                  </form>

                </div>
                <!-- CANCELLA RUN CREATA -->
                <div class='block border m-10 p-2'><!-- runDiv -->
                  <label class='text-white font-black px-4' for='sceltaRun'>Scegli la run da cancellare</label>
                  
                  <select name="chooseRun" id="sceltaRun" form='cancellaRunForm' class='inline-block'>

                    {% for run,values in listaRun.items %}
                    <option value={{run}}>ID: {{run}} - Timestamp:{{values}}</option>
                    {% endfor %}
                  </select>
                  <form method='get' hx-get='cancellaRunScelta/' hx-swap='outerHTML' hx-target='#MainDiv' id='cancellaRunForm' class='inline-block'>
                    <input type='submit' value='cancella' class='block rounded w-16 h-16 m-2 bg-blue-600 text-white hover:bg-white focus:outline-white hover:text-gray-800 inline-block' style='width:70px;'/>
                  </form>
                </div>
                {% endif %}
              </div>

          </div>
      </div>
      <div class='h-64 inline-block w-22'><!-- configNavDiv -->
        <a href='/config/newUser/' class='block rounded w-16 h-16 m-2 bg-blue-600 text-white hover:bg-white focus:outline-white hover:text-gray-800'>
          {% include "icons/icon_newUser.html" %}
        </a>

      </div>
  </div>



{% endblock content %}