<!-- templates/index.html -->

{% extends "_base.html" %}

{% block content %}

	<!-- codice HTML EditorAgente -->
	<div class='box-content bg-gray-700 h-screen border-4 w-screen flex' id='MainDiv'><!-- MainDiv -->
		<div class='h-64 inline-block left-0'><!--subNavDiv-->

		</div>
		<div class='inline-block w-full h-full overflow-hidden'><!-- FrameDiv-->
			<div class='mt-2 h-full space-y-4'><!-- subFrameDiv -->
				<div class='block h-16 w-full pt-4'><!--title-->
					<span class='align-middle'>
                    <p class='text-center font-black text-3xl subpixel-antialiased text-white'>{{nomeAgente}}</p>
                  </span>
				</div>
				<!-- FORM: TEXT-AREA che contiene il codice dell'agente -->
				<form class='w-full h-5/6' method='post' hx-post='/start/{{nomeAgente}}/salvaCodice/' hx-include="[name='testoAgente']" hx-target='#MainDiv'><!-- formCode -->
					
					<textarea name='testoAgente' style='height:80%; width:100%; white-space: pre-wrap;'  class='block text-white divide-y divide-white divide-opacity-25 bg-blue-900 space-y-2 overflow-y-scroll p-2 border-2 border-white rounded-md'>{{codice}}</textarea>

					<div class='flex justify-center items-center'>
						<input type="submit" value="Salva" class='inline-block rounded w-32 h-16 m-2 bg-blue-600 text-white hover:bg-white focus:outline-white hover:text-gray-800' />
						<button hx-get='/start/' hx-swap="outerHTML" hx-target="#MainDiv" class='inline-block align-middle rounded w-32 h-16 m-2 bg-blue-600 text-white hover:bg-white focus:outline-white hover:text-gray-800'>Annulla</button>
					</div>
				</form>
				
			</div>

		</div>
	</div>

{% endblock content %}