{% if filtro == 1 %}
<!-- DEVE ESSERE CREATO DINAMICAMENTE IN BASE AL NUMERO DI AGENTI PRESENTI / INSERITI -->
<button style="background-color:{{colore}}" class='inline-block truncate text-center dis rounded w-48 h-20 m-2 bg-[#333333] border-white border text-white' hx-get="/filtroButtonAgente/" hx-trigger="mouseenter once" hx-swap="outerHTML" hx-include="[name='{{nome}}']" id={{nome}}>
  <input type='hidden' value='{{colore}}' name="{{nome}}"/>
  <input type='hidden' value={{stato}} name="{{nome}}"/>
  <input type='hidden' value={{filtro}} name="{{nome}}"/>
  {{nome}}
                      

</button>
{% else %}

<button style="background-color:{{colore}}" class='inline-block truncate text-center dis rounded w-48 h-20 m-2 bg-[#333333] border-white border text-white opacity-50' hx-get="/filtroButtonAgente/" hx-trigger="mouseenter once" hx-swap="outerHTML" hx-include="[name='{{nome}}']" id={{nome}}>
  <input type='hidden' value='{{colore}}' name="{{nome}}"/>
  <input type='hidden' value={{stato}} name="{{nome}}"/>
  <input type='hidden' value={{filtro}} name="{{nome}}"/>
  {{nome}}
                      

</button>

{% endif %}